#root {
    padding: 0 2rem;
    text-align: center;
    width: 100%;
}

.all-side {
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.left-side {
    padding: 2em;
    width: 30%;
}

.right-side {
    flex-direction: column;
    display: flex;
    height: inherit;
    margin: 10%;
    text-align: left;
    justify-content: center;
    width: 60%;
}

.title {
    padding: 3em;
}
.indent{
    word-break: break-all;
}



@media screen and (max-width: 600px) {
    .all-side {
        flex-direction: column;
    }
    .left-side {
        padding: 2em 2em 0em 2em;
        width: 80%;
    }
    .right-side {
        justify-content: center;
        width: 90%;
    }
    .title {
        padding: 0.5em;
    }
    .all-side {
        display: flex;
        height: unset;
        width: 100%;
        margin: 0 auto;
    }
}